<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>this is edit page</title>
</head>
<body>
<h1 align="center">Edit your post</h1>
<br>
<br>
<div align="center">
 <form action="http://127.0.0.1:8000/update/{{obs.pk}}/" method="POST">
        <h1>This is post no: {{obs.pk}}</h1>
        <p align="center"><label>Title</label>
           <input type="text" name="title"  value=" {{obs.title}}" ></input>
        </p>
        <p align="center"><label>Post</label>
            <input type="text" name="post" value="{{obs.description}}" ></input>
        </p>
             <input type="submit" value="Submit" />
 </form>
</div>

</body>
</html>