<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>habib's page</title>
</head>
<body>
<div class="head">
   <h1 align="center">this is my page</h1>
</div>

<div class="mid">
   {% for post in allpost %}
   <h2 align="center">{{post.pk}} : the post is :<a href="http://127.0.0.1:8000/post_view/{{post.pk}}/"> {{post.title}} </a> </h2>
    <button><a href="http://127.0.0.1:8000/delete/{{post.pk}}/">delete</a> </button>
    <button><a href="http://127.0.0.1:8000/edit/{{post.pk}}/">Edit</a> </button>
    <br>
    {% endfor %}

    <h2 align="center">Create new post</h2>


    <form action="http://127.0.0.1:8000/new_post/" method="POST">

        <p align="center"><label>Title</label>
           <input type="text" name="title"  value=" title" ></input>
        </p>
        <p align="center"><label>Post</label>
            <input type="text" name="post" value="enter your post" ></input>
        </p>
             <input type="submit" value="Submit" />
    </form>
 </div>
</body>
</html>